// Body
$body-bg: #ffffff;

// Colors
// $primary: #1b9bb2;
// $primary-light: #63c9db;
// $danger: #de536a;
// $danger-light: #fff3f5;
// $warning: #ffa600;
// $success: #44c46b;
// $dark: #191919;
// $info: #17a2b8;
// $light: #eafcff;
// $secondary: #e0e0e0;
// $secondary-light: #f9f9f9;
// $secondary-dark: #6c757d;

// $input-focus-box-shadow: none;

// $custom-select-focus-box-shadow: none;

// $theme-colors: (
//   "primary": $primary,
//   "primary-light": $primary-light,
//   "secondary": $secondary,
//   "secondary-light": $secondary-light,
//   "secondary-dark": $secondary-dark,
//   "success": $success,
//   "info": $info,
//   "warning": $warning,
//   "danger": $danger,
//   "danger-light": $danger-light,
//   "light": $light,
//   "dark": $dark,
// );

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-family-sans-serif: "Roboto", Arial, sans-serif;
